body{
    font-family: 'Roboto';
}

header{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-right: 250px;
}
.ul_nav{
    background-color: #3D37F1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 1.5em;
} 
.li_nav{
    display: inline-block;
}
.a_nav {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
}
.a_nav:hover{
    opacity: 0.8;
}
.active-button{
    transition: transform .2s; 
    color: white;
    background-color: #FF8923;
    box-shadow: 0px 0px 12px 0px #FF8923;
    border-radius: 1.5em;
    padding: 20px 55px 20px 55px;
}
.active-button:hover {
    transform: scale(1.1);
  }
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title1{
    font-size: 50pt;
    font-family: Lato;
    font-weight: bold;
    color: #534D4D;
}
.text1{
    font-size: 13pt;
    color: #534D4D;
}
.textbox1{
    margin-right: 100px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Poppins;
    background-color: #3D37F1;
    color: white;
    padding: 10px;
    font-size: 17pt;
    height: 60px;
    width: 230px;
    border-radius: 1.7em;
    margin-left: 30px;
    margin-top: 60px;
    box-shadow: 0px 0px 12px 0px #3D37F1;
    opacity: 0.8;
    transition: 0.3s;
}
.button:hover{
    opacity: 1;
}
.section2{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title2{
    font-family: Lato;
    font-weight: bold;
    font-size: 15pt;
    color: #3D37F1;
}
.title3{
    color: #5A5454;
    font-size: 30pt;
    font-weight: bold;
}
.text2{
    width: 800px;
    text-align: center;
    color: #747474;
}
.box_row1{
    display: flex;
}
.box_row2{
    display: flex;
}
.box1{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient( #FBBA77 0%, #DFA871 40%);
}
.box1:hover{
    transform: scale(1.05);
}
.box2:hover{
    transform: scale(1.05);
}
.box3:hover{
    transform: scale(1.05);
}
.box4:hover{
    transform: scale(1.05);
}
.box5:hover{
    transform: scale(1.05);
}
.box6:hover{
    transform: scale(1.05);
}
.box2{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient(#41EAE3 0%, #2293B7 40%);
}
.box3{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient(#69529F 0%, #463864 40%);
}
.box4{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient(#4386D2 0%, #0962C5 40%);
}
.box5{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient(#A5A2F6 0%, #564FD6 40%);
}
.box6{
    transition: transform .2s; 
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    background: rgb(112,112,112);
    background: linear-gradient(#FF8088 0%, #984141 40%);
}
.title4{
    color: #5A5454;
    font-size: 22pt;
    font-family: lato;
    font-weight: bold;
}
.section3{
    margin-top: 200px;
}
.text3{
    font-family: roboto;
    font-size: 18pt;
    color: #747474;
}
.section4{
    margin-top: 200px;
    display: flex;
    /* align-items: center;  */
    justify-content: center;
}
.section4_text{
    margin-right: 50px;
}
.categories{
    display: flex;
    flex-direction: column;
    
}
.categories_col1{
    flex: 1;
}
.categories_col2{
    flex: 2;
}
.categories_title{
    font-size: 30pt;
    font-weight: bold;
    font-family: Lato;
    color: #5A5454;
}
.categories_text{
    color: #747474;
    font-family: roboto;
    font-weight: lighter;
}
.categories_title2{
    color:#3D37F1;
    text-decoration: underline;
}
.ul_categories{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li_categories{
    margin-top:40px;
    margin-bottom:40px;
}
.section5{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section5_text{
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: row;
}
.box11{
    transition: transform .2s; 
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: white;
    margin: 40px;
    padding:70px;
    background: rgb(175,148,253);
    background: linear-gradient(120deg, rgba(175,148,253,1) 0%, rgba(102,81,243,1) 40%);
    border-radius: 1.5em;
    margin-bottom: 0;
    -webkit-box-shadow: 15px 22px 63px -19px rgba(102,81,243,1);
    -moz-box-shadow: 15px 22px 63px -19px rgba(102,81,243,1);
    box-shadow: 15px 22px 63px -19px rgba(102,81,243,1);
}
.box11:hover{
    transform: scale(1.2);
}
.box12{
    transition: transform .2s; 
    font-weight: bold;
    font-size: 20pt;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 40px;
    padding:70px;
    background: rgb(175,148,253);
    background: linear-gradient(120deg, #FF95A5 0%, #FF62A3 40%);
    border-radius: 1.5em;
    margin-bottom: 0;
    -webkit-box-shadow: 15px 22px 63px -19px #FF62A3;
    -moz-box-shadow: 15px 22px 63px -19px #FF62A3;
    box-shadow: 15px 22px 63px -19px #FF62A3;
}
.box12:hover{
    transform: scale(1.2);
}
.box13{
    transition: transform .2s; 
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: white;
    margin: 40px;
    padding:70px;
    background: rgb(175,148,253);
    background: linear-gradient(120deg, #FBC9A4 0%, #FF884A 40%);
    border-radius: 1.5em;
    margin-bottom: 0;
    -webkit-box-shadow: 15px 22px 63px -19px #FF884A;
    -moz-box-shadow: 15px 22px 63px -19px #FF884A;
    box-shadow: 15px 22px 63px -19px #FF884A;
}
.box13:hover{
    transform: scale(1.2);
}
.center{
    padding:10px;
    margin: 30px;
    color: #4B647E;
    font-weight: bold;
    font-family: lato;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 15px 22px 63px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 22px 63px -19px rgba(0,0,0,0.75);
    box-shadow: 15px 22px 63px -19px rgba(0,0,0,0.75);
    border-radius: 2em; 
    margin-bottom: 200px;
}
.section6{
    background-color: #0C0F32;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    position: relative;
}
.title6{
    font-family: Lato;
}
.text6{
    font-family: Roboto;
    margin-bottom: 200px;
}
.over_picture{
    position: absolute;
    color: white;
    background-color: #FF992E;
    padding: 10px;
    border-radius: 50%;
    right: 48%;
    bottom: 48%;
    font-size: 20pt;
}
.text61{
    color: #8F8BFF;
}
.text62{
    margin-top: 70px;
}
.text63{
    margin-bottom: 100px;
}
.section61{
    text-align: left;
    display: flex;
    flex-direction: row;
}
.text64{
    font-size: 10pt;
    opacity: 30%;
}
.text65{
    font-size: 20pt;
    margin-right: 100px;
}
.section7{
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
}
.section7box1{
    background-color: #131B7C;
    color: white;
    padding: 70px;
    padding-bottom: 80px;
    margin: 10px;
    border-radius: .7em;
}
.section7box2{
    background-color: #F36F21;
    color: white;
    padding: 70px;
    padding-bottom: 80px;
    margin: 10px;
    border-radius: .7em;
}
.section7box3{
    background-color: #A5A2F6;
    color: white;
    padding: 70px;
    padding-bottom: 80px;
    margin: 10px;
    border-radius: .7em;
}
.section7text{
    font-weight: lighter;
}
.section8{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.section8columns{
    display: flex;
}
.box18{
    
    background-color: #3D37F1;
    border-radius: 50%;
    color: white;
    padding:20px;
    text-align: center;

}
.section81{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secton8margin{
    margin: 5px;
    margin-right: 20px;
}
.section8title{
    font-size: 12pt;
    color: #747474;
    font-family: Roboto;
}
.section8text{
    font-size: 10pt;
    color: #747474;
    font-family: Roboto;
}
.box38{
    background-color: #FFBA3F;
}
.box58{
    background-color: #66659F;
}
.box78{
    background-color: #37F1BE;
}
.box98{
    background-color: #F13D37;
}
.box28{
    background-color: #9997DF;
}
.box48{
    background-color: #E66E6E;
}
.box68{
    background-color: #F17637;
}
.box88{
    background-color: #F137E5;
}
.section8title1{
    color: #5A5454;
}
.section8text1{
    color: #747474;
}
.section9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section91{
    display: flex;
    text-align: left;
}
.box19{
    height: 550px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 57px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -11px rgba(0,0,0,0.75);
}
.section9title{
    color: #5A5454;
    font-weight: bold;
    font-family: Lato;
}
.textsection9{
    padding: 20px;
}
.section9p{
    color: #747474;
}
.section9title1{
    color: #5A5454;
    font-family: Lato;
    font-size: 30pt;
    font-weight: normal;
}
.section9text{
    color: #747474;
}
.pointer{
    margin-left: 30px;
}
.sponsors{
    display: flex;
}
.sponsormargin{
    margin: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer2{
    display: flex;
    flex-direction: column;
    margin: 100px;
    text-align: left;
    align-items: flex-start;
}
.icons{
    display: flex;
}
.footertitle{
    color: #747474;
    font-weight: normal;
}
.footertext{
    color: #4B647E;
}
.footertext2{
    color: #747474;
    margin-top: 50px;
}